body {
  font-family: Arial, sans-serif;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  margin-left: 400px;
}

h1{
  text-align: center;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
}

.card.flipped {
  background-color: #fff;
  color: #333;
}

.card.matched {
  background-color: #4CAF50;
  color: white;
  cursor: not-allowed;
}
